<div style="direction:rtl;line-height:300%;">
<div align=center>
<font face="B Nazanin" size=3>
    به نام خدا
    </font>
    <br>
    <br>
    <font face="B Nazanin" size=5>
        <font color=#FF7500>
      آکادمی همراه
        </font>
            <br><br>
        دورۀ آشنایی با پایتون
        <br>
        <br>
<b>     (strings) رشته‌ها
        </b>
         </font>
        <br>
        <br>
        <font face="B Nazanin" size=4>
        <b> جمال کزازی </b>
            <p> </p>
    </font>
    </div>
    </div>

In [2]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
print(hello, len(hello))

hello 5

In [4]:
hw12 = '%s %s %d' % (hello, 'world', 12)  # sprintf style string formatting
print(hw12)  # prints "hello world 12"

fr = '%s:%d:%.2f'%('Jamal',20,17.976656453)
print(fr)
print(type(fr))

hello world 12
Jamal:20:17.98
<class 'str'>

In [6]:
s = "hello"
print(s.capitalize())  # Capitalize a string; prints "Hello"
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(20))      # Right-justify a string, padding with spaces; prints "  hello"
print(s.center(7))    # Center a string, padding with spaces; prints " hello "
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                               # prints "he(ell)(ell)o"
print('  world '.strip() )  # Strip leading and trailing whitespace; prints "world"
d = 'jjjjjamaljjjjjj'
print(d.strip('j') )

Hello
HELLO
               hello
 hello
he(ell)(ell)o
world
amal

In [7]:
s1 = 'Asghar'
s2 = 'MohammadReza'
s3 = 'Jamal'
s4 = 'Nuisha'
s5 = 'Maryam'
l = max(len(s1),len(s2),len(s3),len(s4),len(s5))
print(s1.rjust(20))
print(s2.rjust(20))
print(s3.rjust(20))
print(s4.rjust(20))
print(s5.rjust(20))
s = (s1.upper()).rjust(10)
print(s)
s6  = s1 + s2 + s3 + s4 + s5
print(s6)

              Asghar
        MohammadReza
               Jamal
              Nuisha
              Maryam
    ASGHAR
AsgharMohammadRezaJamalNuishaMaryam

In [1]:
s = 'jamal'
print(s)
print(s.rjust(7))
print(s.center(11))

jamal
  jamal
   jamal

In [1]:
print('*'.center(9))
print('***'.center(9))
print('*****'.center(9))
print('*******'.center(9))
print('*********'.center(9))

    *
   ***
  *****
 *******
*********

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [8]:
print ('Hey')
print ("Hey")
print ("Hey's")
print ('Asla"')

Hey
Hey
Hey's
Asla"

In [8]:
print ("""My name is Jamal Kazazi

I love Python.""") #پرینت مشخصات

#thoopadsdjlksdlsmkl
a ="""dsjfhifljlsfoidjfiar
aioshfioajfljr
ao;rhfoierhoiehr;ioer
iohrfioheriohoeirhoierhioer
\ihreoiehroiehrgiehrgoiherg
ioerhoeirhoierhoierhoeirhoerh"""

My name is Jamal Kazazi

I love Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [11]:
string1 = 'World'
string2 = '!'
print ('Hello' + string1 + string2)
print('Hello' ,string1 ,string2)

HelloWorld!
Hello World !

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [18]:
print ("Actual Number = %d" %18)
print ("Float of the number = %f" %18)
print ("Octal equivalent of the number = %o" %18)
print ("Hexadecimal equivalent of the number = %x" %18)
print ("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used.

In [12]:
print ("Hello %s %s" %(string1,string2))

Hello World !

## Other Examples

The following are other different ways the print statement can be put to use.

In [13]:
print ("I want %%d to be printed %s" %'here')
print('backslash : \\ \n Enter:\\n tab:\t \\t')

I want %d to be printed here
backslash : \
 Enter:\n tab:	 \t

In [23]:
print ('jamal\n'*10)

jamal
jamal
jamal
jamal
jamal
jamal
jamal
jamal
jamal
jamal

In [14]:
s1 = 'jamal'
stdno = 123
ave = 17.01
magh = 'PhD'
print('%s with student number %d has average %.2f and his/her level is %s\n Thank you\n'%(s1,stdno,ave,magh))

jamal with student number 123 has average 17.01 and his/her level is PhD
 Thank you

In [ ]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [ ]:
print ("I want \\n to be printed.")

I want \n to be printed.

In [ ]:
print ("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

# PrecisionWidth and FieldWidth

Fieldwidth is the width of the entire number and precision is the width towards the right. One can alter these widths based on the requirements.

The default Precision Width is set to 6.

In [18]:
"%f" % 3.121312312312

'3.121312'

Notice upto 6 decimal points are returned. To specify the number of decimal points, '%(fieldwidth).(precisionwidth)f' is used.

In [19]:
"%.5f" % 3.121312312312

'3.12131'

If the field width is set more than the necessary than the data right aligns itself to adjust to the specified values.

In [16]:
"%09.5f" % 3.121312312312

'003.12131'

In [28]:
print("%09.5f" % 3.121312312312)
print("%09.5f" % 63.121312312312)
print("%09.5f" % 312.121312312312)

003.12131
063.12131
312.12131

Zero padding is done by adding a 0 at the start of fieldwidth.

In [14]:
"%020.5f" % 3.121312312312

'00000000000003.12131'

'+' sign can be returned at the beginning of a positive number by adding a + sign at the beginning of the field width.

In [ ]:
print ("%+9f" % 3.121312312312)
print ("% 9f" % -3.121312312312)
print ("%+9f" % -3.121312312312)

+3.121312
-3.121312
-3.121312

As mentioned above, the data right aligns itself when the field width mentioned is larger than the actualy field width. But left alignment can be done by specifying a negative symbol in the field width.

In [30]:
"%-9.3f" % 3.121312312312
'%-9.2f' %1245.1234567

'1245.12  '

In [17]:
print(10,20,30,end=' ')
print('Jamal')
print(10,20,30,end='\n')
print('Jamal')
print(10,20,30,end='')
print('Jamal', end = '\n')
print(10,20,30,sep = '@')
print(10,20,30,sep = '')

10 20 30 Jamal
10 20 30
Jamal
10 20 30Jamal
10@20@30
102030

می توان برای نمایش متغیر در بین متن ها از گذاشتن حرف اف در ابتدای رشته استفاده کرد
در این صورت باید مکان متغیرها را با آکولاد نمایش داد

In [18]:
x = 19
print('x is %d'%x)
print(f'x is {x}')

x is 19
x is 19

نوشتن 1+2 = 3

In [19]:
x = 1
y = 2
print(f'x+y = {x} + {y} = {x+y}')

x+y = 1 + 2 = 3

In [20]:
print('x+y = %d + %d = %d'%(x,y,x+y))

x+y = 1 + 2 = 3