<div style="direction:rtl;line-height:300%;">
<div align=center>
<font face="B Nazanin" size=3>
    به نام خدا
    </font>
    <br>
    <br>
    <font face="B Nazanin" size=5>
        <font color=#FF7500>
      آکادمی همراه
        </font>
            <br><br>
        دورۀ آشنایی با پایتون
        <br>
        <br>
<b>        ساختارهای داده
        </b>
             </font>
        <br>
        <br>
        <font face="B Nazanin" size=4>
        <b> جمال کزازی </b>
            <p> </p>
    </font>
            <p> </p>
    </font>
    </div>
    </div>

## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [1]:
a = []

In [7]:
print(type(a))
len(a)

<class 'list'>

0

One can directly assign the sequence of data to a list x as shown.

In [2]:
x = ['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [3]:
x[1]

'orange'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [4]:
print(x[0],x[-2],x[1],x[-1])

apple apple orange orange

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [5]:
y = ['carrot','potato']
y[-1]

'potato'

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [7]:
z  = [x,y]
print(z)
s = ['Kivi','Sabzi','Mouz']
t = [4,5,9,1]
z = [x,t,y,s]

print(z)

[['apple', 'orange'], ['carrot', 'potato']]
[['apple', 'orange'], [4, 5, 9, 1], ['carrot', 'potato'], ['Kivi', 'Sabzi', 'Mouz']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [8]:
z1 = z[0]
print(z1)

['apple', 'orange']

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [17]:
z1[0]
print(z[0][0])
print(z[2][1])

apple
potato

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [9]:
print(z[0][1],z[1][3],z[3][2])

orange 1 Mouz

In [11]:
z[2].append('Karafs')

In [13]:
z[1][2] = 'jamal'
print(z)

[['apple', 'orange'], [4, 5, 'jamal', 1], ['carrot', 'potato', 'Karafs'], ['Kivi', 'Sabzi', 'Mouz']]

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [14]:
num = [0,1,2,3,4,5,6,7,8,9]
print(type(num))

<class 'list'>

In [15]:
print(num[0])
print(num[0:4])
print(num[4:])

0
[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [16]:
num[:9:2] #in MATLAB start:step:stop in Python start:stop:step

[0, 2, 4, 6, 8]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [17]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [ ]:
min(num)

0

In [ ]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [18]:
[1,2,3] + [5,4,1] #یک لیست با اعضای هر دو زیر لیست تشکیل می شود.

[1, 2, 3, 5, 4, 1]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [19]:
names = ['Earth','Air','Fire','Water']
print(names + [1,2,3])

['Earth', 'Air', 'Fire', 'Water', 1, 2, 3]

To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [30]:
"Fire" in names

True

In [31]:
'University' in names

False

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [20]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [21]:
print(max(mlist))
print(min(mlist))

z
az

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [22]:
nlist = ['1','94','93','1000']

In [38]:
print(max(nlist))
print(min(nlist))
int(nlist[2])

94
1

93

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [ ]:
print(max(names, key=len))
print(min(names, key=len))

Earth
Air

But even 'Water' has length 5. **max()** or **min()** function returns the first element when there are two or more elements with the same length.

Any other built in function can be used or lambda function (will be discussed later) in place of len.

A string can be converted into a list by using the **list()** function.

**append( )** is used to add a element at the end of the list.

In [36]:
lst = [1,1,4,8,7]

In [37]:
lst.append(4)
print(lst)

[1, 1, 4, 8, 7, 4]

**count( )** is used to count the number of a particular element that is present in the list.

In [33]:
lst.count(4)

5

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [34]:
lst1 = [5,4,2,8]

In [38]:
lst.append(lst1)
print(lst)
lst[6]

[1, 1, 4, 8, 7, 4, [5, 4, 2, 8]]

[5, 4, 2, 8]

But if nested list is not what is desired then **extend( )** function can be used.

In [39]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 4, [5, 4, 2, 8], 5, 4, 2, 8]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [41]:
lst[0] = 9
print(lst)
lst.index(1)

[9, 1, 4, 8, 7, 4, [5, 4, 2, 8], 5, 4, 2, 8]

1

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [42]:
lst.insert(5, 'name')
print(lst)

[9, 1, 4, 8, 7, 'name', 4, [5, 4, 2, 8], 5, 4, 2, 8]

**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [43]:
lst[5] = 'Python'
print(lst)

[9, 1, 4, 8, 7, 'Python', 4, [5, 4, 2, 8], 5, 4, 2, 8]

In [44]:
str1 = 'jamal'
str1[2] = 'k'
print(str1)

TypeError: 'str' object does not support item assignment

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [45]:
print(lst)
print(lst.pop())
print(lst)

[9, 1, 4, 8, 7, 'Python', 4, [5, 4, 2, 8], 5, 4, 2, 8]
8
[9, 1, 4, 8, 7, 'Python', 4, [5, 4, 2, 8], 5, 4, 2]

Index value can be specified to pop a ceratin element corresponding to that index value.

In [ ]:
lst.pop(0)

1

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [47]:
print(lst)
lst.remove(4)
print(lst)

[9, 1, 8, 7, 'Python', 4, [5, 4, 2, 8], 5, 4, 2]
[9, 1, 8, 7, 'Python', [5, 4, 2, 8], 5, 4, 2]

Alternative to **remove** function but with using index value is **del**

In [49]:
print(lst)
del lst[5]
print(lst)

[9, 1, 8, 7, 'Python', [5, 4, 2, 8], 5, 4, 2]
[9, 1, 8, 7, 'Python', 5, 4, 2]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [50]:
print(lst)
lst.reverse()
print(lst)

[9, 1, 8, 7, 'Python', 5, 4, 2]
[2, 4, 5, 'Python', 7, 8, 1, 9]

In [53]:
x = list(input('please enter a number:\n'))
x.reverse()
print(str(x))
x[0]+x[1]+x[2]+x[3]

please enter a number:
54564
['4', '6', '5', '4', '5']

'4654'

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [54]:

lst = [3,5,6,8,3,4,6,8,3,1,12,9,5,0,1]
lst.sort()
print(lst)

[0, 1, 1, 3, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 12]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [55]:
lst.sort(reverse=True)
print(lst)

[12, 9, 8, 8, 6, 6, 5, 5, 4, 3, 3, 3, 1, 1, 0]

Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [56]:
names = ['Earth','Air','Fire','Water']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length key=len should be specified as shown.

In [57]:
names.sort(key=len)
print(names)
names.sort(key=len,reverse=True)
print(names)

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### Copying a list

Most of the new python programmers commit this mistake. Consider the following,

In [58]:
lista= [2,1,4,3]

In [59]:
listb = lista
print(listb)
print(id(lista))
print(id(listb))

[2, 1, 4, 3]
2140560252544
2140560252544

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [60]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [61]:
print(listb)

[2, 1, 4, 9]

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [62]:
lista = [2,1,4,3]

In [63]:
listb = lista[:]
print(listb)
print(id(lista))
print(id(listb))

[2, 1, 4, 3]
2140560236608
2140560259648

In [66]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [67]:
print(listb)

[2, 1, 4, 3]

## Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [68]:
xyz = divmod(10,3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [69]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [71]:
27,

(27,)

In [72]:
5*'A'

'AAAAA'

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [74]:
5*(27,9)

(27, 9, 27, 9, 27, 9, 27, 9, 27, 9)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [86]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [87]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

### Mapping one tuple to another

In [76]:
tup1 =  ('alpha','beta','gamma')
(a,b,c)= tup1
d = 'Teta'
tup2 = (a,b,c,d)
print(tup2)

('alpha', 'beta', 'gamma', 'Teta')

In [77]:
tup3 = (d,tup1)
tup3

('Teta', ('alpha', 'beta', 'gamma'))

In [78]:
d = tuple('Jamal Kazazi')
print(d)

('J', 'a', 'm', 'a', 'l', ' ', 'K', 'a', 'z', 'a', 'z', 'i')

### Built In Tuple functions

**count()** function counts the number of specified element that is present in the tuple.

In [91]:
d.count('a')

4

**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [80]:
d.index('a',4)

7

In [81]:
tu = (1,3.6)
tu[2] = 7

TypeError: 'tuple' object does not support item assignment

In [83]:
tup2 = tup1 +tuple('Teta')
print(tup2)

('alpha', 'beta', 'gamma', 'T', 'e', 't', 'a')

## Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [ ]:
set1 = set()
print(type(set1))

<class 'set'>

In [97]:
set0 = set([1,2,2,3,3,4])
print(set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### Built-in Functions

In [86]:
set1 = set([1,2,3])

In [87]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [88]:
set1.union(set2) # set1|set2

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [89]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [90]:
set1.intersection(set2) #set1&set2

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [91]:
set1.difference(set2) #set1-set2

{0, 1}

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [92]:
set2.symmetric_difference(set1) #set1^set2

{0, 1, 4, 5}

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [ ]:
set1.issubset(set2)  #set1<=set2

False

In [ ]:
set2.isdisjoint(set1)

False

In [ ]:
set2.issuperset(set1)  #set2>=set1

False

**pop( )** is used to remove an arbitrary element in the set

In [93]:
set1 = set([1,2,3,4])
print(set1)
set1.pop()
print(set1)

{1, 2, 3, 4}
{2, 3, 4}

**remove( )** function deletes the specified element from the set.

In [102]:
set1.remove(2)
set1

{3, 4}

**clear( )** is used to clear all the elements and make that set an empty set.

In [94]:
set1.clear()
set1

set()

In [103]:
x = 1
y = 100
z = 1000
print(f'{x:>5}:{y:<10}:{z:^10}')

    1:100       :   1000

## dictionary

In [95]:
mydict2 = {'Hamedan':500_000,'Mashhad':2_000_000,'Tehran':12_000_000}
print(mydict2)

{'Hamedan': 500000, 'Mashhad': 2000000, 'Tehran': 12000000}

In [113]:
print(f"{'Hamaedan':<10} : {mydict2['Hamedan']:>10}")

Hamaedan   :     500000

In [114]:
mydict = {'k1':1,'k2':2}
print(mydict['k1'],mydict['k2'])

1 2

In [97]:
for harchi in mydict2:
    print(f"{harchi:<10} : {mydict2[harchi]:>10}")

Hamedan    :     500000
Mashhad    :    2000000
Tehran     :   12000000

In [98]:
for harchi in mydict2.items():
    print(harchi)

('Hamedan', 500000)
('Mashhad', 2000000)
('Tehran', 12000000)

In [99]:
for value in mydict2.values():
    print(value)

500000
2000000
12000000

In [100]:
for key in mydict2.keys():
    print(key)

Hamedan
Mashhad
Tehran